html {
  background-image: url("../styles/images/backgroundPort.png");
}
.icon-home, .icon-twitter3, .icon-address-book, .icon-github {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: white;
}
#main-section {
  min-height: 62vh;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

li {
  list-style: none;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}
